node_modules/  
bower_components/ 

dist/                  
build/                 
dist-ssr/              

.env                   
.env.local             
.env.development.local
.env.production.local

logs/                  
*.log                  
npm-debug.log*   

/stuAndtest/demo/01文件获取与压缩/pictures/
/stuAndtest/demo/03整理文件和json/character_1
/stuAndtest/demo/03整理文件和json/character_2